body {
	padding: 70px;
	text-align: center;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	user-select: none;
	-webkit-user-select: none;
}
#loadBoard {
	position: fixed;
	background-color: #000;
	width: 100%;
	height: 100%;
	color: #fff;
	top: 0;
	left: 0;
	z-index: 30;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 3s;
}
#loadBoard h1 {
	font-size: 5vw;
	opacity: 0;
	transition: 3s
}
#a, #b{
	font-size: 4.7vw;
}
#h {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	overflow: hidden;
	text-align: center;
	background-color: #000;
	transition: 0.7s;
}
#h a {
	text-decoration: none;
	color: #ccc;
	font-size: 5vw;
	display: block;
	padding: 1vw;
	transition: 0.3s;
}
#h a:hover {
	color: #fff;
}
